snippet new "Create html5 starting point" b
<!DOCTYPE html>
<html lang="${1:en}">
<head>
	<meta charset="utf-8">
	<title>${2:Page_Title}</title>
	<link href="${3:styles.css}" rel="stylesheet"> 
	<script src="${4:scripts.js}"></script> 
</head> 

<body>
</body>
</html>
endsnippet


